@page
@model WebRazorTest.Pages.AddModel
@{
}

<form method="post">
  <label for="fname">Test Title:</label>
  <input type="text" id="title" name="title"><br><br>
  <input type="submit" value="Submit">
</form>

@*id'ler DOM olarak, name'ler ise prop olarak işe yararlar*@