@page
@model WebRazorTest.Pages.Customers.CreateModel
@{
}

<h1>CREATE</h1>
<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="@Model.Customer!.Name" />
    <input type="submit" />
</form>
    <a asp-page="index">BACK</a>